h1, div, p, span {
    font-family: Roboto;
}

h1 {
    font-size: 3em;
}

#getsvg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 800px;
    min-height: 100px;
    height: 200px;
    border: 1px solid gray;
    background-color: white;
}

#doalign {
    font-size: 1.1em;
    width: 100px;
    float: right;
}

input:focus {
    outline: none;
}

input {
    font-size: 1.05em;
}

.control_input_text {
    width: 800px;
    display: inline-block;
    margin-bottom: 5px;
}

.control_input_text div {
    font-size: 1.2em;
    width: 100px;
    display: inline-block;
}

.control_input_text input {
    width: 670px;
}

#control_div {
    margin-bottom: 20px;
}
